---
title: Middletown Creamery | Menu
---
<div id="container">
	<div class="manu_info">
	<h1>Ice Cream Menu</h1>

		<p>
			Prices: <span>General: $4.00</span> <span>Daily Special: $3.00</span> <span>Gourmet: $5.00</span>
		</p>

		<ul>
			<!-- Daily special -->
			<li>
				<h3>Traditional Cone</h3>
				<%= tag :img, :src => "../images/cremeries_1.jpg", alt:"Cone" %>
				<!-- <img src="images/cone.svg" alt="Cone"> -->
			</li>

			<li>
				<h3>Single Scoop</h3>
				<%= tag :img, :src => "../images/cremeries_1.jpg", alt:"Single Scoop" %>
				<!-- <img src="images/single-scoop.svg" alt="Single Scoop"> -->
			</li>

			<!-- Gourmet -->
			<li>
				<h3>Double Scoop</h3>
				<%= tag :img, :src => "../images/cremeries_1.jpg", alt:"Double Scoop" %>
				<!-- <img src="images/double-scoop.svg" alt="Double Scoop"> -->
			</li>

			<!-- Gourmet -->
			<li>
				<h3>Sundae</h3>
				<%= tag :img, :src => "../images/cremeries_1.jpg", alt:"Sundae" %>
				<!-- <img src="images/sundae.svg" alt="Sundae"> -->
			</li>

			<!-- Gourmet -->
			<li>
				<h3>Ice Cream Sandwich</h3>
				<%= tag :img, :src => "../images/cremeries_1.jpg", alt:"Ice Cream Sandwich" %>
				<!-- <img src="images/sandwich.svg" alt="Ice Cream Sandwich"> -->
			</li>
			
			<li>
				<h3>Popsicle</h3>
				<%= tag :img, :src => "../images/cremeries_1.jpg", alt:"Popsicle" %>
				<!-- <img src="images/popsicle.svg" alt="Popsicle"> -->
			</li>
		</ul>
</div>
</div>